conda==4.10.1
scikit-build==0.15.0
scikit-image==0.18.1
scikit-learn==0.24.2
scikit-optimize==0.9.0
torch==1.10.1+cu111
torch-cluster==1.6.0
torch-geometric==2.2.0
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-tb-profiler==0.4.0
torchaudio==0.10.1+rocm4.1
torchvision==0.11.2+cu111
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
terminado==0.9.4